#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 4% 15% 8%;
}
body{
    font-family: "Montserrat",sans-serif;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.big-heading {
    font-family: "Montserrat-Black",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
  }
h1{
    font-family: "Montserrat-Bold";
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: "Monteserrat-Light";
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
   
}
#features{
    padding: 100px 250px;
    background-color: #fff;
    position: relative;
   
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
h3{
    font-family: "Montserrat-Bold",sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h2{
    font-family: "Montserrat-Bold",sans-serif;
    font-size: 3rem;
    line-height: 1.5;

}
#testimonials{
    background-color: #ef8172;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 25px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}
.carousel-item{
    padding:  100px 250px;
}
#pricing{
    text-align: center;
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    padding: 6%;
    text-align: center;
    font-weight: bold;
    color: #fff;

}
.cta-h3{
    font-size: 3.5rem;
    margin-bottom: 4%;
}
#footer{
    text-align: center;
    padding: 8%;
}
.ficon{
    margin: 1%;
}
@media (max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}